//- top_menu

mixin top_menu(data)
  li
    a(href="#") #{data.name}

//- navbar_menu

mixin navbar_menu(data)
    if (! data.dropdown )
      li.nav-item
        a.nav-link.nav-link-menu(href='#', title= data.name) #{data.name}
    else
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.nav-link-menu.dropdown-toggle(href='#', title= data.name, role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | #{data.name}
        .dropdown-menu(aria-labelledby='navbarDropdown')
          .row
            each submenu in navbar_menu_title
              .col-md-3
                span.dropdown__title #{submenu.name}
                ul.nav.flex-column
                  each data in navbar_menu_sub
                    li.nav-item
                      a.nav-link(href='#') #{data.name}
            .col-md-3
              a(href='#')
                img.img-fluid(src='../../assets/images/menu.jpg', alt='')

//- header title

mixin n-header-title(name="Header title")
  h3.n-header-title
    a(href="#")= name

mixin n-header-title-2(name="Header title")
  h4.n-header-title-2
    a(href="#")= name

mixin n-header-title-3(name="Header title")
  h5.n-header-title-3
    a(href="#")= name
//- Products

mixin products(asset="../assets/images/products/1.jpg")
  .products-item&attributes(attributes)
    a.products-item__img(href="#")
      span
      img(src=asset)
    .products-item__view
      a(href="#")
        i.fas.fa-heart
        | Yêu thích
      a(href="#")
        i.fas.fa-signal
        | So sánh
      a(href="#")
        i.fas.fa-compress
    .products-item__info
      h5.products-item__info__name
        a(href="#") Rượu vang Đà Lạt
      p.price
        span.price__new
          | 370.000
          sup đ
        span.price__old
          | 450.000
          sup đ
      a.btn.btn-primary.btn-wine(href="#") Add to card

//- Products List

mixin products-list(asset="../assets/images/products/1.jpg")
  .products-item.products-item--list&attributes(attributes)
    .row
      .col-md-4
        a.products-item__img(href="#")
          span
          img(src=asset)
      .col-md-8
        .products-item__info
          h5.products-item__info__name
            a(href="#") Rượu vang Đà Lạt
          p.price
            span.price__new
              | 370.000
              sup đ
            span.price__old
              | 450.000
              sup đ
          .products-item__desc
            | Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ
            | ôxy hoá của protein béo.
          .products-item__view
            a.btn.btn-primary.btn-wine(href="#") Add to card
            a(href="#")
              i.fas.fa-heart
              | Yêu thích
            a(href="#")
              i.fas.fa-signal
              | So sánh

//- home-list-product-fluid

mixin home-wine-1987(number)
  .home-wine-1987-item
    a.home-wine-1987-item__img(href="/")
      img(src=`../../assets/images/home/wine-1987_${number}.jpg`)
    .home-wine-1987-item__view
      span.year 1987
      span.text Rượu

//- card-wine

mixin card-wine(asset="../assets/images/blog/blog_1.jpg")
  .card.card-wine
    .card-wine-item
      a(href="#")
        img.card-img-top(src= asset, alt='Card image cap')
      .card-view
        a.rounded-circle(href="#")
          i.fas.fa-link
    .card-body
      h5.card-title
        a(href="#") Vang Thăng Long Classic
      .card-info
        p Đăng bởi Giangle | 30/06/2015 | 60 bình luận
      p.card-text
        | Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...
      a.btn-readmore(href='#') Read more

//- tag cloud
mixin tag(data)
  a.aside-tag__link(href="#") #{data.name}
